<div class="container">
  <h1>Maoz :)</h1>
  <div class="form-group">
    <input placeholder="search for location" (onchange)="calculateDistances()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>

<div>
  latitude: {{  latitude }}
  longitude: {{  longitude }}
  <ul>
    <li *ngFor="let key of getData()| sortingCompanies:1 ">
      store: {{this.mapDistanceStore.get(key).name}} - miles: {{ key }}
    </li>

  </ul>
</div>


